@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 15px;
}

body,
#root {
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
}
